* {
  box-sizing: border-box;
}

body {
    background: #2b2929;
  font-family: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
}

h1 {
    font-size: 13px;
    color: #fff;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 2px;
    margin-top: 15px;
}

h2 {
    margin-top: -36px;
    padding-left: 410px;
}

h4 {
    background: #402b2b;
    letter-spacing: 2px;
    color: #c6b9ae;
    height: 40px;
  text-align: left;
    margin-top: 0px;
    margin-bottom: -5px;
    padding: 6px;
    padding-left: 15px;
    border-top: groove 2px #000;
}

a {
  color: #000;
  font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0.4px 0px 1px #fff;
}

a:hover {
color: #000000e0;
  font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0.4px 0px 1px #fff;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
 display: flex;
  justify-content: center;
  align-items: center;
    margin-bottom: -10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 0px;
  text-align: center;
  background-color: #7b7b7b;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border: groove 2px #000;
    
}

.code {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 0px;
  text-align: left;
  background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 15px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card-img {
   background-size: cover;
   height: 220px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
    background: #555;
    width: 95%;
    resize: none;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
}
